@font-face {
  font-family: "TT Russo Sans";
  src: url("../fonts/TTRussoSans-Black.woff2") format("woff2"), url("../fonts/TTRussoSans-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "TT Russo Sans";
  src: url("../fonts/TTRussoSans-Regular.woff2") format("woff2"),
    url("../fonts/TTRussoSans-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TT Russo Sans";
  src: url("../fonts/TTRussoSans-LightItalic.woff2") format("woff2"),
    url("../fonts/TTRussoSans-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "TT Russo Sans";
  src: url("../fonts/TTRussoSans-Bold.woff2") format("woff2"), url("../fonts/TTRussoSans-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "TT Russo Sans";
  src: url("../fonts/TTRussoSans-Italic.woff2") format("woff2"), url("../fonts/TTRussoSans-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "TT Russo Sans";
  src: url("../fonts/TTRussoSans-Thin.woff2") format("woff2"), url("../fonts/TTRussoSans-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "TT Russo Sans";
  src: url("../fonts/TTRussoSans-Light.woff2") format("woff2"), url("../fonts/TTRussoSans-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "TT Russo Sans";
  src: url("../fonts/TTRussoSans-BlackItalic.woff2") format("woff2"),
    url("../fonts/TTRussoSans-BlackItalic.woff") format("woff");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "TT Russo Sans";
  src: url("../fonts/TTRussoSans-ThinItalic.woff2") format("woff2"),
    url("../fonts/TTRussoSans-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "TT Russo Sans";
  src: url("../fonts/TTRussoSans-BoldItalic.woff2") format("woff2"),
    url("../fonts/TTRussoSans-BoldItalic.woff") format("woff");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-Thin.woff2") format("woff2"), url("../fonts/RBNo31-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "RBNo31-LightItalic";
  src: url("../fonts/RBNo31-LightItalic.woff2") format("woff2"), url("../fonts/RBNo31-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1 Ultra";
  src: url("../fonts/RBNo31-UltraItalic.woff2") format("woff2"), url("../fonts/RBNo31-UltraItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-ThinItalic.woff2") format("woff2"), url("../fonts/RBNo31-ThinItalic.woff") format("woff");
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-Extrabold.woff2") format("woff2"), url("../fonts/RBNo31-Extrabold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-Black.woff2") format("woff2"), url("../fonts/RBNo31-Black.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-Bold.woff2") format("woff2"), url("../fonts/RBNo31-Bold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo3.1 Book";
  src: url("../fonts/RBNo31-BookItalic.woff2") format("woff2"), url("../fonts/RBNo31-BookItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-Medium.woff2") format("woff2"), url("../fonts/RBNo31-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo3.1 Ultra";
  src: url("../fonts/RBNo31-Ultra.woff2") format("woff2"), url("../fonts/RBNo31-Ultra.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-ExtraboldItalic.woff2") format("woff2"),
    url("../fonts/RBNo31-ExtraboldItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-BlackItalic.woff2") format("woff2"), url("../fonts/RBNo31-BlackItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-ExtraLightItalic.woff2") format("woff2"),
    url("../fonts/RBNo31-ExtraLightItalic.woff") format("woff");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-BoldItalic.woff2") format("woff2"), url("../fonts/RBNo31-BoldItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-MediumItalic.woff2") format("woff2"),
    url("../fonts/RBNo31-MediumItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "RBNo3.1 Book";
  src: url("../fonts/RBNo31-Book.woff2") format("woff2"), url("../fonts/RBNo31-Book.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-Light.woff2") format("woff2"), url("../fonts/RBNo31-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "RBNo3.1";
  src: url("../fonts/RBNo31-ExtraLight.woff2") format("woff2"), url("../fonts/RBNo31-ExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}
